p{
color:black;
font-size: x-large;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
background-color: ghostwhite;
background-image:url(metal2.webp) ;
max-width: 800px;
margin: auto
}


